<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <p class="about-us-text">About Us</p>

            <div class="text">
                <p>Cafe Ca offers a unique coffee house environment unlike any other in Macon.
                    We are not only a place to drop in and get your morning cup of coffee,
                    we are a place where you can sit down and enjoy that tailor-made cup of coffee.
                    If you need to work, we have a seating area created specifically for you.
                    If you need to rest, we have a soft-seating area in front of a stone fire place that is perfect for
                    your weary mind and body. We offer a delicious variety of coffee roasted in house made by our
                    professionally
                    trained baristas. We have everything from classic coffee to our house made specialty beverages.
                    All of our sauces & syrups are made in-house with all natural ingredients (no chemicals or
                    preservatives)
                    ensuring you the highest quality in taste & health. You can complete your coffee with one of our
                    delicious
                    sweet treats made by our very own baker. We look forward to serving you at Cafe Ca Coffee Shop!</p>
            </div>

        </div>

        <div class="col-6 col-md-4">
            <img class="about-us-image" src="https://g.foolcdn.com/editorial/images/577286/spilled-coffee.jpg" alt="">
        </div>

    </div>
</div>