<nav class="navbar navbar-expand-lg bg-body-tertiary">

  <div class="container-fluid">

    <div class="logoImage">
      <img
        src="https://static.vecteezy.com/system/resources/thumbnails/002/412/377/small/coffee-cup-logo-coffee-shop-icon-design-free-vector.jpg"
        alt="">
    </div>

    <a class="navbar-brand" href="#">Cafe Ca</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/signup">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/about-us">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/menu">Menu</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/contact-us">Contact Us</a>
        </li>

      </ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline" type="submit">Search</button>
        <button class="btn btn-outline" id="logOutButton" type="submit" (click)="onLogOut()">Logout</button>
      </form>
    </div>
  </div>
</nav>